<?xml version='1.0' encoding='utf-8'?>
<widget id="wtf.noku.app" version="0.2.0C"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Noku</name>
    <description>
        The worst meme app on the planet.
    </description>
    <author email="service@xemplarsoft.com" href="http://xemplarsoft.com">
        Xemplar Softworks, LLC
    </author>
    <content src="start.html" />
    <access origin="*" />
    <allow-navigation href="*"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <feature name="Toast">
        <param name="ios-package" value="Toast" />
    </feature>
    <feature name="Toast">
        <param name="android-package" value="nl.xservices.plugins.Toast" />
    </feature>
    <icon src="www/img/logo.png" width="512" height="512" density="mdpi" />
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="application">
        <application android:requestLegacyExternalStorage="true" >
            <provider
                    android:name="android.support.v4.content.FileProvider"
                    android:authorities="wtf.noku.app"
                    android:exported="false"
                    android:grantUriPermissions="true">
                <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                        android:resource="@xml/provider_paths" />
            </provider>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="noku.wtf" android:scheme="http" />
                <data android:pathPrefix="/home" />
            </intent-filter>
            <preference name="AndroidLaunchMode" value="singleTask" />
        </application>
    </edit-config>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
