@app-background: #000000;
@app-bar-color: #000000;
@app-accent-color: #4527a0;
@app-foreground: #D7D7D7;
@meme-op-color: #303030;
@comment-background: #101010;
@comment-op-background: #303030;
@comment-reply-color: #909090;
@divider-color: #909090;

@color-green: #43a047;
@color-white: #E0E0E0;
@color-red: #e53935;
@foreground-color: #E0E0E0;

a, a:visited{
  color: @app-accent-color;
}