@import "fonts.less";
@import "utils.less";
@import "icons.less";
@import "meme.less";
@import "noku.less";
@import "animate.min.css";
@import "swiper-bundle.css";

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0;
    overflow:visible;
    padding:0;
    text-align:center;
}

.block-label{
    display: block;
    width: calc(100% - 1em);
    font-size: 1em;

    border-bottom: 1em solid @app-background;
    border-top: 1em solid @app-background;

    .p-2();
    .pt-1();
    .pb-3();
}

.center-vertical {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.app-wrapper {
    position: relative;
    max-width: @max-width;
    .mx-auto();
}

.comments{
    max-width: @max-width;
    .mx-auto();
}

.app-bar{
    z-index: 20;
    background-color: @app-bar-color;
}

.app {
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-color: @app-background;
}

.bg-op{
    background-color: @comment-op-background;
}

@app-padding: 1em;

.menu{
    width: 2.25em !important;
    height: 2.25em !important;
}

@media only screen and (max-width: 600px) {
    .app-wrapper{
        margin-left: @app-padding;
        margin-right: @app-padding;
    }
}