@import "colors.less";

@padding-spacer: 0.25em;
@margin-spacer: 0.25em;

.center{
  margin-left: auto;
  margin-right: auto;
}

.float-left{
  display: inline-flex;
  float: left;
  height: 100%;
}

.float-right{
  display: inline-flex;
  float: right;
  height: 100%;
}

.text-right{
  text-align: right;
  padding-right: 0.5em;
}

.hide{
  display: none !important;
}

.divider-hz{
  content: "";
  display: block;
  height: 2px !important;
  width: 100% !important;
  background-color: @divider-color !important;
}


.btn{
  display: inline-block;
  min-height: 1.1em !important;
  font-size: 1em;
  text-align: center;
  border-radius: 0.25em;
  min-width: 1em !important;
  margin: 0.25em 0;
  color: @foreground-color;
  padding: 0.5em;
  box-sizing: content-box !important;
}

.btn-hollow{
  background: none !important;
  border: 2px solid @app-foreground !important;
  color: @app-foreground !important;
}

.inline-text{
  position: absolute;
  height: 1em;
  top: 0.75em;
  bottom: 0.75em;
  display: inline-block;
  color: @foreground-color;
}

.btn:active{
  background-color: rgba(0, 0, 0, 0.5);
}


.btn-green{
  background-color: @color-green;
}

.btn-red{
  background-color: @color-red;
}

.btn-black{
  background-color: #000000;
}

.btn-white{
  background-color: @color-white;
  color: black;
}

.btn-clear{
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.flex{
  display: flex;
}

.container{
  display: block;
  position: relative;
}

.inline-container{
  display: inline-block;
  position: relative;
}

.w-0 { width: 0 !important; }
.w-25 { width: 25% !important; }
.w-50 { width: 50% !important; }
.w-75 { width: 75% !important; }
.w-100 { width: 100% !important; }

.p-0{ padding: 0 !important; }
.p-1{ padding: @padding-spacer !important; }
.p-2{ padding: @padding-spacer * 2 !important; }
.p-3{ padding: @padding-spacer * 3 !important; }
.p-4{ padding: @padding-spacer * 4 !important; }
.p-5{ padding: @padding-spacer * 5 !important; }
.p-6{ padding: @padding-spacer * 6 !important; }

.pt-0{ padding-top: 0 !important; }
.pt-1{ padding-top: @padding-spacer !important; }
.pt-2{ padding-top: @padding-spacer * 2 !important; }
.pt-3{ padding-top: @padding-spacer * 3 !important; }
.pt-4{ padding-top: @padding-spacer * 4 !important; }
.pt-5{ padding-top: @padding-spacer * 5 !important; }
.pt-6{ padding-top: @padding-spacer * 6 !important; }

.pl-0{ padding-left: 0 !important; }
.pl-1{ padding-left: @padding-spacer !important; }
.pl-2{ padding-left: @padding-spacer * 2 !important; }
.pl-3{ padding-left: @padding-spacer * 3 !important; }
.pl-4{ padding-left: @padding-spacer * 4 !important; }
.pl-5{ padding-left: @padding-spacer * 5 !important; }
.pl-6{ padding-left: @padding-spacer * 6 !important; }

.pr-0{ padding-right: 0 !important; }
.pr-1{ padding-right: @padding-spacer !important; }
.pr-2{ padding-right: @padding-spacer * 2 !important; }
.pr-3{ padding-right: @padding-spacer * 3 !important; }
.pr-4{ padding-right: @padding-spacer * 4 !important; }
.pr-5{ padding-right: @padding-spacer * 5 !important; }
.pr-6{ padding-right: @padding-spacer * 6 !important; }

.pb-0{ padding-bottom: 0 !important; }
.pb-1{ padding-bottom: @padding-spacer !important; }
.pb-2{ padding-bottom: @padding-spacer * 2 !important; }
.pb-3{ padding-bottom: @padding-spacer * 3 !important; }
.pb-4{ padding-bottom: @padding-spacer * 4 !important; }
.pb-5{ padding-bottom: @padding-spacer * 5 !important; }
.pb-6{ padding-bottom: @padding-spacer * 6 !important; }

.px-1{ padding-left: @padding-spacer !important; padding-right: @padding-spacer !important; }
.px-2{ padding-left: @padding-spacer * 2 !important; padding-right: @padding-spacer * 2 !important; }
.px-3{ padding-left: @padding-spacer * 3 !important; padding-right: @padding-spacer * 3 !important; }
.px-4{ padding-left: @padding-spacer * 4 !important; padding-right: @padding-spacer * 4 !important; }
.px-5{ padding-left: @padding-spacer * 5 !important; padding-right: @padding-spacer * 5 !important; }
.px-6{ padding-left: @padding-spacer * 6 !important; padding-right: @padding-spacer * 6 !important; }

.py-1{ padding-top: @padding-spacer !important; padding-bottom: @padding-spacer !important; }
.py-2{ padding-top: @padding-spacer * 2 !important; padding-bottom: @padding-spacer * 2 !important; }
.py-3{ padding-top: @padding-spacer * 3 !important; padding-bottom: @padding-spacer * 3 !important; }
.py-4{ padding-top: @padding-spacer * 4 !important; padding-bottom: @padding-spacer * 4 !important; }
.py-5{ padding-top: @padding-spacer * 5 !important; padding-bottom: @padding-spacer * 5 !important; }
.py-6{ padding-top: @padding-spacer * 6 !important; padding-bottom: @padding-spacer * 6 !important; }

.m-1{ margin: @margin-spacer !important; }
.m-2{ margin: @margin-spacer * 2 !important; }
.m-3{ margin: @margin-spacer * 3 !important; }
.m-4{ margin: @margin-spacer * 4 !important; }
.m-5{ margin: @margin-spacer * 3 !important; }
.m-6{ margin: @margin-spacer * 3 !important; }

.mt-1{ margin-top: @margin-spacer !important; }
.mt-2{ margin-top: @margin-spacer * 2 !important; }
.mt-3{ margin-top: @margin-spacer * 3 !important; }
.mt-4{ margin-top: @margin-spacer * 4 !important; }
.mt-5{ margin-top: @margin-spacer * 3 !important; }
.mt-6{ margin-top: @margin-spacer * 3 !important; }

.ml-1{ margin-left: @margin-spacer !important; }
.ml-2{ margin-left: @margin-spacer * 2 !important; }
.ml-3{ margin-left: @margin-spacer * 3 !important; }
.ml-4{ margin-left: @margin-spacer * 4 !important; }
.ml-5{ margin-left: @margin-spacer * 3 !important; }
.ml-6{ margin-left: @margin-spacer * 3 !important; }

.mr-1{ margin-right: @margin-spacer !important; }
.mr-2{ margin-right: @margin-spacer * 2 !important; }
.mr-3{ margin-right: @margin-spacer * 3 !important; }
.mr-4{ margin-right: @margin-spacer * 4 !important; }
.mr-5{ margin-right: @margin-spacer * 3 !important; }
.mr-6{ margin-right: @margin-spacer * 3 !important; }

.mb-1{ margin-bottom: @margin-spacer !important; }
.mb-2{ margin-bottom: @margin-spacer * 2 !important; }
.mb-3{ margin-bottom: @margin-spacer * 3 !important; }
.mb-4{ margin-bottom: @margin-spacer * 4 !important; }
.mb-5{ margin-bottom: @margin-spacer * 3 !important; }
.mb-6{ margin-bottom: @margin-spacer * 3 !important; }

.mx-auto{ margin-left: auto; margin-right: auto; }
.mx-1{ margin-left:@margin-spacer !important; margin-right: @margin-spacer !important; }
.mx-2{ margin-left:@margin-spacer * 2 !important; margin-right: @margin-spacer * 2 !important; }
.mx-3{ margin-left:@margin-spacer * 3 !important; margin-right: @margin-spacer * 3 !important; }
.mx-4{ margin-left:@margin-spacer * 4 !important; margin-right: @margin-spacer * 4 !important; }
.mx-5{ margin-left:@margin-spacer * 3 !important; margin-right: @margin-spacer * 3 !important; }
.mx-6{ margin-left:@margin-spacer * 3 !important; margin-right: @margin-spacer * 3 !important; }

.my-auto{ margin-top: auto; margin-bottom: auto; }
.my-1{ margin-top: @margin-spacer !important; margin-bottom: @margin-spacer !important; }
.my-2{ margin-top: @margin-spacer * 2 !important; margin-bottom: @margin-spacer * 2 0 !important; }
.my-3{ margin-top: @margin-spacer * 3 !important; margin-bottom: @margin-spacer * 3 0 !important; }
.my-4{ margin-top: @margin-spacer * 4 !important; margin-bottom: @margin-spacer * 4 0 !important; }
.my-5{ margin-top: @margin-spacer * 3 !important; margin-bottom: @margin-spacer * 3 0 !important; }
.my-6{ margin-top: @margin-spacer * 3 !important; margin-bottom: @margin-spacer * 3 0 !important; }